$select-color: #fff;
$brown: #9c762a;
$brown-light: #a0843a;
$gold: #c7a141;
$hover-color: #e2c45e;
$green-yellow: #72ca54;
$light-green: #1abe66;
$background-off: #c75353;
$violet: #7a1abe;
$color-text: #7b7e80;
$color-text-dark: #34373a;
$color-grey: #33383c;
$border-color: #43484b;
$background-button: #33383c;
$border-dark: #2e3337;
$color-link-external: #3e4245;
$color-dark-grey: #212527;
$level-line: #171b1f;
$background-nav: #23282c;
$color-nav: #1c2125;
$color-black: #13171a;
$color-wrapper: #181d21;
$color-dark: #191e21;

/*---------font-family------*/
$font-roboto-medium: 'robotomedium', Arial, sans-serif;
$font-roboto-regular: 'robotoregular', Arial, sans-serif;
